<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .lead {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding-right: 6px;
            margin-top: 10px;
            background-color: #f6f6f6;
            width: 100%;
        }
    </style>
</head>

<body>
    <a href="/leads">Go back to leads</a>
    <hr />
    <h1>This is the details of {{ lead.first_name }}</h1>
    <p>This persons age: {{ lead.age }}</p>
    <p>The agent responsible for this lead is : {{ lead.agent }} </p>
</body>
</html>